<div class="bounding_box">

<h1 class="login">Sign In</h1>
<img src="../assets/burger_close_up.gif", class="dancing_burger"/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, :class => 'email'%><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'password'%><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" align="center">
      <%= f.check_box :remember_me, :class => 'check_box' %>
      <%= f.label :remember_me, :class => 'remember' %>
    </div>
  <% end -%>

  <div class="actions" align="center">
    <%= f.submit "Log in", :class => 'button' %>
  </div>
<% end %>

</div>
