<!-- for admins -->

<% if current_user.admin %>
<h1>Refactor Restaurant</h1>

  <%= form_for(@restaurant) do |f| %>

    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.label :address %>
    <%= f.text_field :address%>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip_code, "Zip Code"%>
    <%= f.text_field :zip_code %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit "Refactor", method: :patch %>

  <% end %>

<!-- for regular users -->
<% else %>
<div class="text-center">
  <h1>Oops! You must be an admin to view this page!</h1>
</div>
<% end %>

<!-- react -->
<div id="app">

</div>

<!--
<label>Restaurant Name:</label></br>
<%= text_field :name, @restaurant.name %></br>

<label>Restaurant Address:</label></br>
<%= text_field :address, @restaurant.address %></br>

<label>Restaurant City:</label></br>
<%= text_field :city, @restaurant.city %></br>

<label>Restaurant State:</label></br>
<%= text_field :state, @restaurant.state %></br>

<label>Restaurant Zip Code:</label></br>
<%= text_field :zip_code, @restaurant.zip_code %></br>

<label>Restaurant Description:</label></br>
<%= text_field :description, @restaurant.description %></br> -->
