<h1> <%= @restaurant.name%> </h1>
<h5> <%= @restaurant.address%> </h5>
<h5> <%= @restaurant.city%> </h5>
<h5> <%= @restaurant.state%> </h5>
<h5> <%= @restaurant.zip_code%> </h5>
<p> <%= @restaurant.description%> </p>


<%= link_to "Refactor", edit_restaurant_path(@restaurant) %>

<div id="app">

</div>
