<% if current_user != nil %>

  <h1>New Review Form for: <%= @restaurant.name %> </h1>
  <%= form_for([@restaurant, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :rating %>
    <%= f.text_field :rating %>

    <%= f.submit "Add Review" %>

  <% end %>

<% else %>
 <h1>You must be signed in to add a review!</h1>
<% end %>
